@import "./../../styles/index.scss";

.detailContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: center;
  text-align: left;
  margin: 20px;

  @include breakpoint(md) {
    /* Estilos específicos para pantallas medianas (tabletas) y más grandes */
    display: grid;
    gap: 1rem;
    padding: 20px;
  }

  .detailImage {
    width: 420px;
    height: 400px;
    object-fit: cover;
    display: flex;
    border-radius: 10px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 220px;
}

.detailSection {
  margin: 20px;

  &__name {
    color: rgba(14, 175, 27, 0.8);
    margin-bottom: 20px;
  }

  &__des {
    overflow-y: scroll;
  }
}

.ratingStars {
  color: #ffb300;
}
