.detailContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: center;
  text-align: left;

  .detailImage {
    width: 420px;
    height: 400px;
    object-fit: cover;
    display: flex;
    border-radius: 10px;
  }
}

.detailSection {
  margin: 20px;

  &__name {
    color: rgba(14, 175, 27, 0.8);
    margin-bottom: 20px;
  }

  &__des {
    overflow-y: scroll;
  }
}

.ratingStars {
  color: #ffb300;
}
