@import "./../../styles/index.scss";

.detail {
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__image {
    max-width: 360px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__name {
    color: rgba(14, 175, 27, 0.8);
    margin-bottom: 20px;
  }

  &__des {
    overflow-y: scroll;
  }

  &__body {
    margin: 20px;
  }

  @include breakpoint(md) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 220px;
}

.ratingStars {
  font-size: x-large;
  color: #ffb300;
}
