@import "./../../styles/index.scss";

.containerfilter {
  display: flex;
  position: absolute;
  top: 75px;
  left: 39px;
  background-color: rgba(9, 9, 9, 0);
  text-align: center;
  padding: $spacing-md 0;

  @include min-width(medium) {
    padding: 0 $spacing-lg;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    left: 39px;

    &__content {
      padding: 0;
      transition: padding 1.8s ease, transform 1.5s ease;
      transform: translateX(0%);

      &.menu-open {
        padding-right: $spacing-lg;
        transform: translateX(-100%);
      }
    }
    &__span {
      top: 0;
    }
  }

  &__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include min-width(medium) {
      display: block;
      background-color: transparent;
      color: white;
      border: none;
    }

    & > svg {
      display: initial;
      font-size: 32px;

      &:hover {
        transform: scale(0.98);
        box-shadow: 0, 0, 0.75, 0 $primary;
      }
    }
  }

  .filter-by-type {
    z-index: 100;
    background-color: transparent;

    span {
      position: absolute;
      top: 1em;
    }

    .type-options {
      display: none;
      @include min-width(medium) {
        display: block;
        padding: 0 $spacing-lg;
        margin-top: $spacing-md;
      }

      .group-type {
        margin-right: $spacing-sm;
        margin-bottom: $spacing-sm;
        display: flex;
        align-items: center;

        input[type="checkbox"] {
          margin-right: 6px;
        }
      }
    }
  }

  &--open {
    .filter-by-type {
      .type-options {
        display: flex;
      }
    }
  }

  @include min-width(medium) {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
