PORT=


POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_ACCOUNT=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_SYNCHRONIZE=
POSTGRES_ENTITIES=

POSTGRES_ENTITIES_DIR=
POSTGRES_LOGGING=
 
ROUTER_PATH= "src/routes/**/*.*"

DOGS_API_KEY=