.containerfilter {
  display: flex;
  top: 220px;
}

.iconfilter {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-bottom: 20px;
  cursor: pointer;
}

.iconfilter .icon {
  width: 30px;
  height: 30px;
  stroke: #555;
}

.container__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0;
}

.side {
  min-width: 6em;
}

.sec {
  flex: 1;
}
