@import './../../styles/variables.scss';

.containerfilter {
  display: flex;
  position: fixed;
  top: $header-height;

  left: 0;
  background: rgba(9, 9, 9, 0);
  text-align: center;
  padding: $spacing-md 0;

  @include breakpoint(md) {
    padding: 0 $spacing-lg;
    align-items: center;
    justify-content: center;

    &__content {
      padding: 0;
      transition: padding 1.8s ease, transform 1.5s ease;
      transform: translateX(0%);

      &.menu-open {
        padding-right: $spacing-lg;
        transform: translateX(-100%);
      }
    }
    &__span {
      top: 0;
    }
  }

  &__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include breakpoint(md) {
      display: block;
    }

    & > svg {
      display: initial;
      font-size: 32px;
      &:active {
        transform: scale(0.98);
        border-radius: 0;
        background-color: aqua;
      }

      &:hover {
        background-color: aqua;
        box-shadow: 0, 0, 0.75, 0 $primary;
      }
    }
  }

  .filter-by-type {
    z-index: 100;

    span {
      margin-bottom: $spacing-sm;
    }

    .type-options {
      display: none;
      @include breakpoint(md) {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 $spacing-lg;
        margin-top: $spacing-md;
      }

      .group-type {
        margin-right: $spacing-sm;
        margin-bottom: $spacing-sm;
        display: flex;
        align-items: center;

        input[type='checkbox'] {
          margin-right: 6px;
        }
      }
    }
  }

  &--open {
    .filter-by-type {
      .type-options {
        display: flex;
      }
    }
  }

  @include breakpoint(md) {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
