@import "./../../styles/index.scss";
.header {
  margin-left: 26px;
  height: $header-height;
  background-color: #333;
  color: $text2;
  position: fixed;
  z-index: 1000;
  width: 95.8%;
  box-shadow: 0 1px 5px $primary;

  &__content {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 $spacing-md;
    transition: 0.5s ease padding;

    height: 100%;
    display: flex;
    align-items: center;

    & > div {
      flex: 1;
      white-space: nowrap;

      &:nth-child(2) {
        display: flex;
        justify-content: center;
        height: 100%;
      }
      &:last-of-type {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .desktop__button__container {
    display: none;
    @include min-width(medium) {
      display: initial;
    }
  }

  .mobile__button__container {
    display: initial;
    @include min-width(medium) {
      display: none;
    }
  }

  &__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include min-width(medium) {
      display: none;
    }
    & > svg {
      display: block;
      font-size: 32px;
    }
  }

  &__content {
    padding: 0;
    transition: padding 0.5s ease, transform 0.5s ease;
    transform: translateX(0%);

    &.nav--open {
      padding-right: $spacing-lg;
      transform: translateX(-100%);
    }
  }

  .mobile__button__container {
    display: none;
  }

  .nav {
    position: static;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: initial;
    width: auto;
    padding: 0;

    &__button__container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: $spacing-md;
    }

    &__item {
      display: block;
      padding: $spacing-md;
      text-decoration: none;
      color: inherit;
      height: 100%;
      transition: 0.3s ease color;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $primary;
        transition: width 0.3s ease;
      }

      &::before {
        top: 0;
        left: 0;
      }

      &::after {
        bottom: 0;
        right: 0;
      }

      &:hover::before,
      &:hover::after {
        width: 45%;
      }

      @include min-width(medium) {
        padding: 0 $spacing-lg;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        color: $primary;
      }
    }
  }
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: white;
  margin-left: 10px;
}

.button {
  font-weight: 500;
  color: $primary;
  border: 2px solid $primary;
  padding: $spacing-sm $spacing-lg;
  border-radius: calc($spacing-sm / 2);
  cursor: pointer;

  box-shadow: 0 0 0.5em 0 $primary;

  &:active {
    transform: scale(0.98);
    border-radius: 0;
  }

  &:hover {
    box-shadow: 0, 0, 0.75, 0 $primary;
  }
}
