@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=JetBrains+Mono:wght@200&display=swap");

$ubuntu-font: "Ubuntu", sans-serif;
$dark: rgb(8, 8, 8);
$primary: #fff;
$light: rgb(162, 246, 183);
$bg: rgb(19, 19, 19);

// spacing
$spacing-sm: 10px;
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$header-height: 65px;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}
