@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=JetBrains+Mono:wght@200&display=swap");

$ubuntu-font: "Ubuntu", sans-serif;

$bg: rgba(24, 24, 24, 0.99);
$bg2: rgb(114, 128, 111);
$bg3: rgb(15, 15, 15);
$text: rgb(15, 15, 15);
$text2: rgb(240, 240, 240);
$primary: rgb(146, 238, 121);

$header-height: 72px;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$breakpoint-xsmall: 320px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;

@mixin min-width($breakpoint) {
  @if ($breakpoint == xsmall) {
    @media (min-width: $breakpoint-xsmall) {
      @content;
    }
  } @else if ($breakpoint == small) {
    @media (min-width: $breakpoint-small) {
      @content;
    }
  } @else if ($breakpoint == medium) {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  } @else if ($breakpoint == xlarge) {
    @media (min-width: $breakpoint-extra-large) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}
